In [4]:
import mysql.connector

In [5]:
connection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root"
)

In [6]:
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001A495D89A60>

In [7]:
cursor = connection.cursor()

In [8]:
cursor.execute("CREATE DATABASE demoDB")

In [9]:
cursor.execute("SHOW DATABASES")

In [10]:
for db in cursor:
    print(db)

('demodb',)
('employees',)
('gameofthrones',)
('information_schema',)
('library',)
('mysql',)
('performance_schema',)
('sys',)

In [11]:
connection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "demodb"
)

In [12]:
cursor = connection.cursor()

In [13]:
print(cursor)

CMySQLCursor: (Nothing executed yet)

In [14]:
cursor.execute("CREATE TABLE students(name varchar(40), code varchar(40))")

In [15]:
cursor.execute("SHOW TABLES")

In [16]:
for tbl in cursor:
    print(tbl)

('students',)

In [17]:
cursor.execute("ALTER TABLE students add column id int auto_increment primary key")

In [26]:
cursor.execute("describe students")

In [27]:
for tbl in cursor:
    print(tbl)

('name', b'varchar(40)', 'YES', '', None, '')
('code', b'varchar(40)', 'YES', '', None, '')
('id', b'int', 'NO', 'PRI', None, 'auto_increment')

In [28]:
cursor

In [30]:
insert_stmt = "insert into students(name, code) values(%s, %s)"
cursor.execute(insert_stmt, ('Ronaldo', 'CODE12'))
connection.commit()

In [33]:
print(cursor.rowcount, "New Record Inserted")

1 New Record Inserted

In [70]:
insert_stmt = "insert into students(name, code) values(%s, %s)"
values = [
    ('Messi', 'CODE30'),
    ('Van Persie', 'CODE25')
]
cursor.executemany(insert_stmt, values)
connection.commit()
print(cursor.rowcount, "New Records Inserted")

2 New Records Inserted

In [35]:
cursor.execute("select * from students")
data = cursor.fetchall()

In [36]:
data

[('Ronaldo', 'CODE12', 1), ('Messi', 'CODE30', 2), ('Van Persie', 'CODE25', 3)]

In [37]:
type(data)

list

In [38]:
cursor.execute("select * from students")
data = cursor.fetchone()

In [39]:
data

('Ronaldo', 'CODE12', 1)

In [40]:
type(data)

tuple

In [59]:
## Buffer cursor(buffered = True) or reset cursor, 
## fetchone actually fetches all recors, returns only top though, so if you use that cursor again, it'll have unread results

In [48]:
cursor.reset()
cursor.execute("select * from students where code like '%30' limit 1")
data = cursor.fetchone()

In [49]:
data

('Messi', 'CODE30', 2)

In [50]:
cursor.execute("select * from students")
data = cursor.fetchall()

In [51]:
data

[('Ronaldo', 'CODE12', 1), ('Messi', 'CODE30', 2), ('Van Persie', 'CODE25', 3)]

In [52]:
cursor.execute("select * from students")
data = cursor.fetchone()

In [53]:
data

('Ronaldo', 'CODE12', 1)

In [60]:
cursor.reset()
cursor.execute("select * from students order by name desc")
data = cursor.fetchall()
data

[('Van Persie', 'CODE25', 3), ('Ronaldo', 'CODE12', 1), ('Messi', 'CODE30', 2)]

In [61]:
del_stmt = "delete from students where id = 3"
cursor.execute(del_stmt)
connection.commit()
print(cursor.rowcount, "Records Deleted")

In [62]:
cursor.execute("select * from students")
data = cursor.fetchall()
data

[('Ronaldo', 'CODE12', 1), ('Messi', 'CODE30', 2)]

In [65]:
del_stmt = "delete from students where name = %s"
name = ("Messi",)
cursor.execute(del_stmt, name)
connection.commit()
print(cursor.rowcount, "Records Deleted")

1 Records Deleted

In [71]:
cursor.execute("select * from students")
data = cursor.fetchall()
data

[('Ronaldo', 'CODE22', 1), ('Messi', 'CODE30', 4), ('Van Persie', 'CODE25', 5)]

In [67]:
cursor.execute("drop table if exists clients")

In [68]:
update_stmt = "Update students set code = %s where code = %s"
values = ("CODE22", "CODE12")
cursor.execute(update_stmt, values)
connection.commit()
print(cursor.rowcount, "Records Updated")

1 Records Updated

In [75]:
# cursor.execute("select * from students limit 1,2")
cursor.execute("select * from students limit 2 offset 1")
data = cursor.fetchall()
data

[('Messi', 'CODE30', 4), ('Van Persie', 'CODE25', 5)]